/*Compiled Boilerplate css templates into one with some modifications*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Universal
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */
*, *::before, *::after {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Root
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {

}

html {

}

/*This project requires Abel regular font for all other text other than headers*/
body {
    font-family: 'Abel', sans-serif;
   /* display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    background-color: lightgrey;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Content sectioning
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/*This project requires this Anton regular font for Codeup-design on headers* (-Mark)

 */


h5 {
    font-family: 'Anton', sans-serif;
    font-size: 1.75em; /*28px/16=1.75em -Mark*/

}

h4 {
    font-family: 'Anton', sans-serif;
    font-size: 2em; /*32px/16=2em -Mark*/

}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em; /*40px/16=2.5em -Mark*/

}

/*TODO: Review change to font-size for this project according to style guide(e.g., Heading 1 is 64px) (-Mark)*/
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4em; /*64px/16=4em -Mark*/
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3em; /*48px/16=3em -Mark*/

}
/*TODO: I will try some flex or d flex properties in here to see if it affects bubbles (-Mark)
.bubbles {
    /*TODO: Review that I removed the align-items: center to apply properties in html (-Mark)
    /*align-items: center;*/
    font-family: 'Anton', sans-serif;
    padding-bottom: 10px;
    margin: auto;
}

.design {
    width: 105px;
    height: 105px;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    color: white;
    grid-area: 1/1/2/2;
   /* margin-left: 5em;  <<< commented this out and it fixed the responsive issue */
    font-size: 20px;

}

.develop {
    width: 105px;
    height: 105px;
    background-color: rgb(224, 141, 21);
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid white;
    grid-area: 1/2/2/3;
    /*margin-right: 5em;*/
    font-size: 20px;
}

.support {
    width: 105px;
    height: 105px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid white;
    /*margin-left: 5em;*/
    font-size: 20px;
}

.host {
    width: 105px;
    height: 105px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: inline-flex;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px solid white;
    grid-area: 2/2/3/3;
    /*margin-right: 5em;*/
    font-size: 20px;
}

img.green-apple {
    margin: auto;
    width: 80%;
    border-radius: 1%;
    border: 10px dimgrey;
}


.grid{
    font-family: 'Abel', sans-serif;
}

.baby-bubbles{
    font-family: 'Anton', sans-serif;
}
.red-small{
    width: 30px;
    height: 30px;
    background-color: #E6563B;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    grid-area: 1/1/2/2;
    font-size: 20px;
    font-weight: bolder;

}

.yellow-small{
    width: 30px;
    height: 30px;
    background-color: #EB9D3A;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    grid-area: 1/1/2/2;
    font-size: 20px;
    font-weight: bolder;
}

.green-small{
    width: 30px;
    height: 30px;
    background-color: #7CB06C;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    grid-area: 1/1/2/2;
    font-size: 20px;
    font-weight: bold;
}

.blue-small {
    width: 30px;
    height: 30px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    grid-area: 1/1/2/2;
    font-size: 20px;
    font-weight: bold;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Text block content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Overall styling, e.g. vertical spacing */
p, ol, ul, pre, blockquote, figure, hr, dl {
}

p {
}

ol, ul {
}

ol {
}

ul {
}

li {
}

ol ol, ol ul, ul ul, ul ol {
}

li li {
}

pre {
}

pre code {
}

pre samp {
}

blockquote {
}

figure {
}

figcaption {
}

hr {
}

dl {
}

dt {
}

dd {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Inline text semantics
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
}

a:visited {
}

a:hover {
}

a:active {
}

strong {
}

b {
}

em {
}

i {
}

q {
}

cite {
}

s {
}

mark {
}

/* If you specify a font size, consider using the `em` unit so that it works
universally, e.g. for both `h1 small` and `p small` */
small {
}

sub {
}

sup {
}

code {
}

dfn {
}

abbr {
}

abbr[title] {
}

var {
}

kbd {
}

kbd kbd {
}

samp {
}

u {
}

data {
}

time {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Demarcating edits
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

del {
}

ins {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Embedded content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

img {
}

svg {
}

video {
}

canvas {
}

audio {
}

object {
}

noscript {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Table content
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

table {
}

caption {
}

col:first-child {
}

thead {
}

tbody {
}

tfoot {
}

tr {
}

th {
}

td {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Forms
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

fieldset {
}

fieldset:disabled {
}

legend {
}

form {
}

label {
}

::placeholder {
}

:focus::placeholder {
}

/* Overall styling, e.g. vertical spacing */
input, textarea, select, button {
}

/* `textarea` and `input` elements that share a similar look and similar styling
capabilities */
/* - common styling */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
}

/* - individual styling */
textarea {
}

input[type="text"] {
}

input[type="password"] {
}

input[type="email"] {
}

input[type="tel"] {
}

input[type="number"] {
}

input[type="search"] {
}

input[type="url"] {
}

input[type="date"] {
}

input[type="datetime-local"] {
}

input[type="month"] {
}

input[type="week"] {
}

input[type="time"] {
}

/* Tick boxes */
input[type="checkbox"], input[type="radio"] {
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
}

input[type="checkbox"] {
}

input[type="checkbox"]:checked {
}

input[type="radio"] {
}

input[type="radio"]:checked {
}

/* Other input fields, some with limited styling capabilities */
input[type="file"] {
}

input[type="color"] {
}

input[type="range"] {
}

select {
}

optgroup {
}

option {
}

option:checked {
}

datalist {
}

button,
input[type="submit"] {
}

button:disabled,
input[type="submit"]:disabled {
}

button.secondary {
}

button.secondary:disabled {
}

/* This matches forms or form elements that are invalid *and* have been
interacted with. Note that:
1) You may need to add the `interacted` class to forms yourself
2) You may need to add the `touched` class to form fields yourself
3) `:user-invalid` is a working draft and not yet supported by most browsers
4) `:-moz-ui-invalid` is non-standard and only works in Firefox
Form validation error messages will appear (in capable browsers) regardless of
this styling. You can omit 1) and 2) and still have working forms. Perfect
example of progressive enhancement. */
/* Applies to invalid forms */
form.interacted:invalid {
}

/* Applies to invalid form fields. You would need to repeat your declarations
for the following three groups of selectors individually. Browsers completely
ignore any rule that contains a selector they do not know. */
form.interacted :invalid, form .touched:invalid {
}

:user-invalid {
}

:-moz-ui-invalid {
}

output {
}

progress {
}

meter {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Interactive elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

details {
}

details[open] {
}

summary {
}

details[open] summary {
}

dialog {
}

dialog::backdrop {
}

/* Some form fields, `details`, elements with `tabindex`, and possibly other
elements can be focussed. You should use `:focus-visible` instead of `:focus`
whenever possible. As the former is not yet widely supported, you need to do it
as follows:
1) Set styling on focus
2) If browser supports `:focus-visible`, revert/unset the styling from 1)
3) If the element matches `:focus-visible`, apply the styling again */
:focus {
}

:focus:not(:focus-visible) {
}

:focus-visible {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Media queries
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}


/*
This file evolved from Natural Selection:
https://github.com/frontaid/natural-selection
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width: 320px)
and (max-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    /* Styles */
}

/**/
/**/
/**/
@media only screen
and (min-width: 872px)
and (max-width: 992px ) {
    #tabletTopNavBar {
        display: none;
    }
}

/*557*/
/*TODO: See if this can still work*/
@media only screen
and (min-width: 320px)
and (max-width: 557px ) {
    #mobileFirstTopNavBarr   {
        background-image: url("/images/logo.png");
        min-height: 370px;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

}


/*min-height:380px;*/



/*
/**!*/
/**/
/*    Attempting to place limit on navbar breakpoint*/

/* iPads (landscape) ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

/*Favorite colors selected from Nick's color scheme, credit due to: Nick Milo CyberTron Theme  */

.theme-dark .graph-view.color-fill-tag {
    color: #5dbcd2;
}

.theme-dark .graph-view.color-fill-attachment {
    color: #d669bc;
}

.theme-dark .graph-view.color-fill-unresolved {
    color: #9e8aff;
    Opacity: 1;
}

.theme-dark .graph-view.color-arrow {
    color: #d669bc;
}

/**********************/
/* Graph View */
/**********************/

.graph-view.color-fill {
    color: #fcf601;
}

.theme-dark {
    --background-primary: #2f3136;
    --background-primary-alt: #36393f;

}

/*Added personal touches to reflect "tron" styling*/

/*body {*/
/*    background-color:#36393f;*/
/*}*/

.fancy-header {
    /*color: blue; !* single line comment *!*/
    text-decoration: underline;
    color: #9e8aff;
    Opacity: 1;
}

/*.fancy-header {*/
/*    color: #291d60; !* single line comment *!*/
/*    text-decoration: underline;*/
/*}*/
.theme-dark {
    /*--background-primary: #2f3136;*/
    background-color: #2f3136;
    color: #5dbcd2;
    /*--background-primary-alt: #36393f;*/
}

/*}*/

/*TODO: USE this Palette and fonts below for codeup-design site CSS*/
.colors {
    color: #E6563B;
    color: #EB9D3A;
    color: #7CB06C;
    color: #99ABA9;
    color: #F0F0F0;
    color: #E6E6E6;

}

.font-regular {
    font-family: 'Abel', sans-serif;
}

.font-header {
    font-family: 'Anton', sans-serif;
}


.jumbotron {
    background-image: url("../images/cybertron-person.png");
    background-size: cover;
}

.everSoBold {

    font-weight: bold;
}
/*.toplogo img {*/
/*    height: 5%;*/
/*    width: 5%;*/
/*    margin-top:5px;*/

/*}*/